<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/Public/css/index.css" rel="stylesheet">

  <title>歡迎光臨</title>
</head>

<body>
  <div class="box">
    <div class="main">
      <div class="title">
        <h2>失敗頁面</h2>
      </div>

      <div class="login">
        <h3>{{message}}</h3>
        <a href="/">返回首頁</a>
      </div>



    </div>
  </div>
  <!-- <script>
    const checkbox = document.getElementById("checkbox");
    const sub_btn = document.getElementById("submit");
    sub_btn.addEventListener("click", function (checkCheckbox) {

      if (!checkbox.checked) {
        alert("Please check the checkbox first");
        event.preventDefault();
        return false; // 阻止表單提交
      }
      return true; // 允許表單提交
    })
  </script> -->
</body>

</html>